


/* target gameboard div and create gameboard using CSS grid */

#game-board{
    background-color: aquamarine;
    height: 100vmin;
    width: 100vmin;
    display: grid;

    /* unsure how many columns maybe draw out my maze before hand */
    grid-template-columns: 2 ;
    grid-template-rows: 2;

}