


/* target gameboard div and create gameboard using CSS grid */

#game-board{
    background-color: aquamarine;
    height: 80vmin;
    width: 100vmin;
    display: grid;
    border: 2px;
    /* unsure how many columns maybe draw out my maze before hand */

    /* starting with 20 by 20 grid to see how it looks  */
    grid-template-columns: repeat(20, 1fr) ;
    grid-template-rows: repeat(20, 1fr);

}