


/* target gameboard div and create gameboard using CSS grid */

#game-board{
    background-color: aquamarine;
    height: 100vmin;
    width: 100vmin;
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;

}